# Data Science Tools and Ecosytem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook

- Insert code and markdown cells

- Share your notebook through GitHub

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. TensorFlow
4. PyTorch
5. Seaborn
6. Beautiful Soul

| Data Science Tools |
|---|
| Rstudio |
| Jupyter Notebook |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python
144+(138*99)

In [36]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [38]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Manish Patel